/* @prashantxc */


/*Title*/
.title-main {
	position: relative;
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
}

.title-quote-big {
	font-size: 2em;
}


/*Separator*/
.separator-main {
	border: 0;
	position: relative;
	top: 2vh;
	height: 1px;
	width: 60%;
	margin-left: 20%;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


/*Card*/
.card {
	background: #fff;
	border-radius: 2px;
	display: inline-block;
	height: auto;
	margin: 1rem;
	position: relative;
	width: auto;
}

.card-ext {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

img {
	display: block;
}


/*for mobile only*/
@media only screen and (max-width: 768px) {

	.not-for-mobile {
		display: none;
	}

	.title-main {
		text-align: justify;
		margin-top: 20px;
		margin-left: 10%;
		margin-right: 10%;
		line-height: 2em;
	}

	.card-main {
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

	.footer-main {
		position: relative;
		justify-content: center;
		align-items: center;
		background: black;
		display: flex;
		width: 100%;
		height: 8vh;
		bottom: 0;
	}
}


/*for desktop only*/
@media only screen and (min-width: 768px) {
	
	.for-mobile {
		display: none;
	}

	.title-main {
		text-align: justify;
		margin-top: 20px;
		margin-left: 20%;
		margin-right: 20%;
		line-height: 2em;
	}

	.footer-main {
		position: fixed;
		justify-content: center;
		align-items: center;
		background: black;
		display: flex;
		width: 100%;
		height: 8vh;
		bottom: 0;
	}
}



/*Footer*/
.footer-main-container {
	color: white; 
}

.footer-main-container a {
	color: white;
}


/*Misc*/
.red-color {
	color: red;
}

.extra-white-space {
	height: 2vh;
}

.disable-content {
	cursor: not-allowed;
}